name: Java CI with Maven

env:
  imagename: ${{ vars.DOCKER_USERNAME }}/tp_ci_cd:${{ github.ref_name }}

on:
  push:
    branches: [ "*" ]
    
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Build Docker image
        run: docker build -t ${{ env.imagename }} .

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Push Docker image
        run: docker push ${{ env.imagename }}
  
  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    if: github.ref_type == 'tag' 
  
    steps:
      - uses: actions/checkout@v4
  
      - name: Trigger Render Deploy Hook
        run: curl -X POST -d {} ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
